.animation {
	height: 150px;
	width: 150px;
	background-color: red;

	/*transition-property: transform; для  hover*/

	transition-property: transform;
	transition: background-color 500ms;
	
	animation-name: move;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;

	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.animation:hover {
	background-color: yellow;
}

@keyframes move {
	25% {
		transform: translateX(100px);
		animation-timing-function: linear;
	}
	50% {
		transform: translate(100px, 150px);
		animation-timing-function: linear;
	}
	75%, 100% {
		transform: translate(100px, 150px) scale(2) rotate(145deg);
		animation-timing-function: linear;
	}
}