* {
	margin: 0; /* to avoid vertical scroll */
	padding: 0;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	font-family: Times New Roman, serif, sans-serif;
	box-sizing: border-box;
	background-color: #ececec;
	flex-direction: column;

	position: relative;
}

/* --- Шапка --- */
header {
	border-bottom: 1px solid black;
	padding: 20px;
}

h1 {
	text-align: center;
}

/* --- Основной блок --- */
aside {
	background-color: #ddd;
	position: absolute;
	right: 0;
	width: 200px;
	height: 400px;
	margin: 10px;
}

.rating {
	color: #f00;
	text-align: center;
}

.descending-checkbox {
	position: absolute;
	right: 0;
	padding: 0 10px;
}

/* --- Подвал --- */
footer {
	display: flex;
	justify-content: space-between;
	align-items: center;

	position: absolute; /* fix footer in the bottom of page */
	bottom: 0;

	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	border-top: 1px solid black;
}