:root {
	--gradient-left-color: #22AB93;
	--gradient-right-color: #19668D;
	--background-color: #CFD0CF;
	--text-color: #434344;
}


body {
	margin: 0;
	background: var(--background-color);
	font-family: Arial, sans-serif;
	color: var(--text-color);
}

.game {
	width: 600px;
	margin: 0 auto;
}

.header {
	text-align: center;
	font: bold 42px/47px Arial;
	margin: 40px auto;
}

.cards {
	list-style-type: none;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(4, 150px);
	-webkit-perspective: 600px;
			perspective: 600px;
}

.card {
	height: 130px;
	width: 130px;
	margin: 0 25px 25px 0;
	border: 5px solid white;
	border-radius: 9px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
			box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	position: relative;
	cursor: pointer;
	/*background-color: white; ERROR ON MACOS IN CHROME*/

	-webkit-transition: -webkit-transform 1s;
			transition: -webkit-transform 1s;
	-o-transition: transform 1s;
	transition: transform 1s;
	transition: transform 1s, -webkit-transform 1s;
	-webkit-transform-style: preserve-3d;
			transform-style: preserve-3d;
	
}

.card__face {
	height: 100%;
	width: 100%;
	position: absolute;
	-webkit-backface-visibility: hidden;
			backface-visibility: hidden;

	background: -webkit-linear-gradient(45deg, 
								var(--gradient-left-color),
								var(--gradient-right-color));
	background: -o-linear-gradient(45deg, 
								var(--gradient-left-color),
								var(--gradient-right-color));	
	background: linear-gradient(45deg, 
								var(--gradient-left-color),
								var(--gradient-right-color));	
}

.memoji {
	width: 75px; 
	height: 75px;
	position: absolute;
	margin: auto auto;
	top: 0; left: 0; right: 0; bottom: 0;
}

.card__face--back {
	background: #fff;
	-webkit-transform: rotateY(180deg);
			transform: rotateY(180deg);
}

#card1 .card__face--back .memoji, #card7  .card__face--back .memoji { background: url('./img/css_sprites.png') -10px -10px;   }
#card2 .card__face--back .memoji, #card8  .card__face--back .memoji { background: url('./img/css_sprites.png') -105px -10px;  }
#card3 .card__face--back .memoji, #card9  .card__face--back .memoji { background: url('./img/css_sprites.png') -10px -105px;  }
#card4 .card__face--back .memoji, #card10 .card__face--back .memoji { background: url('./img/css_sprites.png') -105px -105px; }
#card5 .card__face--back .memoji, #card11 .card__face--back .memoji { background: url('./img/css_sprites.png') -200px -10px;  }
#card6 .card__face--back .memoji, #card12 .card__face--back .memoji { background: url('./img/css_sprites.png') -200px -105px; }

.card.opened {
	-webkit-transform: rotateY(180deg);
			transform: rotateY(180deg);
}